.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100%/3);
}

.text-center {
    text-align: center !important;
}

/* main */

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#header .menu-moblie-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#header .menu-moblie-btn,
#header .search-btn {
    font-size: 20px;
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f43366;
    cursor: pointer;
}

#header .menu-moblie-btn:hover {
    background-color: #fff;
    color: #000;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover>a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    top: 100%;
    left: 0;
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('./slider_1.jpg');
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    text-align: center;
    color: #ccc;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}



#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-slogan {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.4;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #ccc;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    color: #7575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Place */
.place-list {
    margin-top: 16px;
    margin-bottom: 48px;
}

.place-img:hover {
    opacity: 0.6;
}

.place-img {
    display: block;
    width: 100%;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-head {
    font-size: 15px;
    font-weight: 600;
}

.place-item .place-body .place-time {
    margin-top: 15px;
    color: #7575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}

.place-buy:hover {
    color: #000;
    background-color: #ccc;
}

/* modal section */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalIn ease 0.5s;
}

.modal-head {
    background-color: #009688;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    font-weight: 400;
    height: 130px;
    color: #fff;
}

.modal-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background-color: #fff;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-ticket {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-ticket:hover {
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* contact section */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
}

.contact-info i[class*="fa-solid fa-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-send {
    float: right;
    padding: 10px 16px;
    background-color: #000;
    color: #ccc;
    border: 1px solid #000;
}

.contact-send:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.img-content {
    width: 100%;
}

/* footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

.social-list {
    font-size: 24px;
}

.social-list a {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copy-right {
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.copy-right a {
    color: rgba(0, 0, 0, 0.4);
}